<!DOCTYPE html>
<html class="h-100">
    {{ partial "head.html" . }}

    <body class="d-flex flex-column h-100">
        {{ partial "header.html" . }}

        <main class="flex-shrink-0">
            <section id="profile" class="container rounded">
                {{ partial "profile.html" . }}
            </section>

            {{ range .Site.Sections }}{{ if eq .Section "projects" }}
            <section id="project" class="container rounded">
                {{ partial "project.html" . }}
            </section>
            {{ end }}{{ end }}

            <section id="publication" class="container rounded">
                <h2 class="mb-2">{{ i18n "publication" }}</h2>
                {{ partial "publication.html" . }}
                {{- if eq .Lang "ja" -}}
                <iframe src="/" style="display: none;"></iframe>
                {{- end -}}
            </section>
        </main>

        {{ partial "footer.html" . }}
    </body>
</html>
